//<INPUT>================================================================================
input[type=text],input[type=email],input[type=tel],textarea{-webkit-appearance:none;-webkit-appearance:none;-webkit-appearance:none;}
input {
}
textarea {
}
button {
   background-color: white;
}
//</INPUT>================================================================================